h1{font-family:'Cafe24Ohsquare', sans-serif; font-size:48px; line-height:1.2em;}
h2{font-family:'Cafe24Ohsquare', sans-serif; font-size:35px; line-height:1.2em;}
h3{font-size:24px; font-weight:500 !important;}
h4{font-size:24px; font-weight:500 !important; line-height:1.8em;}

p{line-height:1.8em;}

.display-1{
    all:unset;
    font-family:'Poppins', sans-serif;
    font-weight:700 !important; font-size:80px;
    font-feature-settings: 'ss04' on;
}

.body-large{font-size:20px; line-height:1.8em; font-weight:400 !important;}
.body-small{font-size:14px; line-height:1.8em; font-weight:400 !important;}

.nav-default{font-family:'Cafe24Ohsquare', sans-serif; font-size:18px;}
.nav-small{font-family:'Montserrat', 'Poppins', 'S-CoreDream',sans-serif; font-size:14px; font-weight:500 !important;}

.btn-custom{font-size:16px; font-weight:600 !important;}
.caption{font-size:14px; font-weight:500 !important; line-height:1.5em;}
.tab{font-size:12px; font-weight:500 !important; line-height:1.2em;}