.header{
    height:80px;
    border-radius:20px;

    th{background-color: transparent}
}

.content{
    height:100px;
    .newTag{border-radius: 10px;}

    .icon{
        width:24px; height:24px;
        border:1px solid #707070;
    }
    
    .title{
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
    }
}